.report
	.report-header.well

		button.btn.btn-sm.btn-primary.btn-refresh.pull-right(type='button',ng-click='refreshReport()')
			i.fa.fa-database
			| {{'refresh' | translate}}

		button.btn.btn-sm.btn-default.btn-refresh.pull-right(type='button',ng-click='reloadReport()')
			i.fa.fa-refresh
			| {{'reload' | translate}}

		h6 {{reportData.name}}
		p.text-muted {{reportData.description | translate}}

	.report-tabs
		uib-tabset
			uib-tab.report-tab(heading='{{"dataset" | translate}} {{$index+1}}', ng-repeat='item in reportData.result', ng-show='multiSets', select='activateTab(item)')
				div(ng-show='!reportError')
						div(class='report-container', ng-switch='reportData.component.name')
							div(ng-switch-when='graphTotalSizeOfDbReport',     graph-total-size-of-db-report='item')
							div(ng-switch-when='graphBarDbReport',             graph-bar-db-report='item')
							div(ng-switch-when='graphBarReport',               graph-bar-report='item')
							div(ng-switch-when='DateLineReport',               date-line-report='item')
							div(ng-switch-when='dateLinePlainReport',          date-line-plain-report='item')
							div(ng-switch-when='twoXYLinesReport',             two-x-y-lines-report='item')
							div(ng-switch-when='graphLineReport',              graph-line-report='item')
							div(ng-switch-default,                             table-raw-report='item')

		div(ng-show='reportError')
			.alert.alert-warning(role='alert')
				p
					b {{'reportError' | translate}}
				p {{reportErrorText}}
					p {{'reportErrorMore' | translate}}
