div(ng-show='state.isLoading')
	refresh

div(ng-show='state.loaded')
	report(report-data='report',report-error-text='errorText', refresh-report='loadReport(true)', reload-report='loadReport()')

div(ng-show='!state.loaded && !state.isLoading')
	h3 {{'reportLoadingError' | translate }}