#report-info-modal
	.modal-header
		h5 {{ report.name }}
	.modal-body
		.tabbable
			ul.nav.nav-tabs
				li.active
					a(href='#', ng-click='tabDialogReportInfoClick()', data-toggle='tab') Details
				li
					a(href='#', ng-click='tabDialogReportDetailsClick()', data-toggle='tab') Query
			.tab-content
				#tabDialogReportInfo.tab-pane.active
					| 
					p
					.row
						.col-md-10
							label Description: {{report.description}}
					.row
						.col-md-10
							label SQL filename: {{report.details.fileName}}
					.row
						.col-md-10
							label Primary key: {{report.details.primarykeys}}
					.row
						.col-md-10
							label Storage: {{report.details.storage}}
					.row
						.col-md-10
							label Save history records: {{report.details.savehistoryrecords}}

				#tabDialogReportDetails.tab-pane
					p
					.row
						.col-md-10
							label {{report.details.query}}

	.modal-footer
		button.btn.btn-primary(ng-click='close();') {{'close' | translate}}
