div
.row
	p.lead {{ 'schedulerTitle' | translate }}
.row
	button.btn.btn-primary(ng-click='addScheduleItemDialog()')
		i.glyphicon.glyphicon-plus
		| {{ 'addRecordBtn' | translate }}
.row
	table.table.table-hover
		thead
			tr
				th.col-xs-1 {{ 'colScheduleId'     | translate }}
				th.col-xs-2 {{ 'colConnType'       | translate }}
				th.col-xs-2 {{ 'colGroupName'      | translate }}
				th.col-xs-2 {{ 'colConnName'       | translate }}
				th.col-xs-1 {{ 'colForGroup'       | translate }}
				th.col-xs-2 {{ 'colModuleType'     | translate }}
				th.col-xs-1 {{ 'colRepName'        | translate }}
				th.col-xs-1 {{ 'colSchedule'       | translate }}
				th.col-xs-1 {{ 'colScheduleStatus' | translate }}
				th.col-xs-2
		tbody
			tr(ng-repeat='row in schedules')
				td {{row.id_connection_query_schedule}}
				td {{row.connType}}
				td {{row.groupName}}
				td {{row.connName}}
				td
					span(data-ng-class='{\'glyphicon glyphicon-ok\':row.forGroup}')
				td {{row.moduleType}}
				td {{row.repName}}
				td {{row.schedule}}
				td
					button.btn.btn-xs.btn-success(ng-click="toggleStatus(row);", ng-class='{\'btn-danger\': !row.isEnabled}')
						| {{row.isEnabled ? 'colEnabled' : 'colDisabled' | translate}}
				td
					.pull-right
						button.btn.btn-sm.btn-warning(ng-click='addScheduleItemDialog(row)')
							i.fa.fa-pencil
						button.btn.btn-sm.btn-danger(ng-click='deleteTask(row)')
							i.fa.fa-trash
