table.table.table-hover.table-raw
	tr
		th(ng-repeat='header in preparedData.headers', ng-style='header.style') {{header.displayName}}

	tr.ng-animate-disabled(ng-repeat='row in preparedData.rows')
		td(ng-repeat='column in row track by $index') {{column}}